[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ghnotifier
Comment=Github notifications
Exec=ghnotifier
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
***REMOVED***inal=false
Hidden=false

