[Desktop Action ComposeMessage]
Exec=/usr/lib/thunderbird/thunderbird -compose
Name=Write new message

[Desktop Action OpenAddressBook]
Exec=/usr/lib/thunderbird/thunderbird -addressbook
Name=Open address book

[Desktop Entry]
Actions=ComposeMessage;OpenAddressBook;
Categories=Network;Email;
Comment[en_US]=Send and receive mail with Thunderbird
Comment=Send and receive mail with Thunderbird
Exec=/usr/lib/thunderbird/thunderbird %u
GenericName[en_US]=Mail Client
GenericName=Mail Client
Icon=thunderbird
MimeType=message/rfc822;application/x-xpinstall;
Name[en_US]=Thunderbird
Name=Thunderbird
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
